.navBarLogo {
    width: 18vw;
    pointer-events: none;
}
.noneAccBtn {
    width: 24px;
    height: 24px;
    margin: 0 5px 0 10px;
    opacity: 0.55;
}

.userLogo {
    width: 24px;
    height: 24px;
    margin: 0 5px 0 10px;
    border-radius: 15px;
    object-fit: cover;
    filter: blur(0.3px);
}
.navBarBlock {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 0;
    margin: 0 auto;
    max-width: 1060px;
}
.accountBtn{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 24px;
    margin-left: 5px;
    height: 24px;
    background-image: url('../../img/Frame.svg');
    background-repeat: no-repeat;
}
.searchBlock{
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
.accountText{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
.burgerBtn{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 24px;
    height: 24px;
    background-image: url('../../img/Frame2.svg');
    background-repeat: no-repeat;
}
.logInBlock{
    display: flex;
    border: 0;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: #000000;
}
.logOutBlock{
    display: flex;
    border: 0;
    font-size: 14px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    color: #5B5B5B;
}
.searchFilter{
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2vw;
    margin: 1.5vh 0;
    text-decoration: none;
}

.searchFld{
    border: none;
    width:300px
}
.searchFld:focus {
    outline: 0;
}

.searchBlock{
    display: flex;
    align-items: center;
    padding-left: 2vw;
    height: 8vh;
    border-radius: 8px;
    background-color: #ffffff;
}

.searchBt{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    height: inherit;
    border-radius: 4px 8px 8px 4px;
    aspect-ratio: 1;
}
.custom-dropdown {
    background-color: #FFFFFF;
    border: 0px;
    width: 160px;
    border-radius: 8px;
    margin-right: 15px;
    height: 40px;
    color: #909095;
}
.fileBtn::-webkit-file-upload-button {
    background-color: #fff;
    color: #06B5AE;
    font-weight: 500;
    border: 2px solid #06B5AE;
    height: 42px;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.custom-dropdown-toggle {
    background-color: #FFFFFF;
    border: 0px;
    width: 160px;
    border-radius: 8px;
    color: #909095;
    outline: none;
    padding-right: 40px;
    background-image: url('../../img/arrow_down=24.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-dropdown-toggle::after {
    background-image: url('../../img/arrow_up=24.svg');
    display: none;
    background-color: #FFFFFF !important;
    color: #909095 !important;
}

.custom-dropdown-menu.show + .custom-dropdown-toggle::after {
    display: none;
    background-image: url('../../img/arrow_up=24.svg');
    background-color: #FFFFFF !important;
    color: #909095 !important;
}

.custom-dropdown-menu {
    background-color: #FFFFFF;
    border: 8px solid #FFFFFF;
    margin-top: 10px;
    border-radius: 8px;
    width: 140px;
    color: #909095;
    padding: 5px 0;
    box-shadow: 0px 0px 15px rgba(133, 133, 133, 0.2);
    overflow-y: auto;
}

.custom-dropdown-menu::-webkit-scrollbar {
    width: 4px;
}

.custom-dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #909095;
    border-radius: 10px;
}

.custom-dropdown-menu::-webkit-scrollbar-track {
    background-color: #ffffff;
}

.custom-dropdown-toggle:hover,
.custom-dropdown-toggle:focus,
.custom-dropdown-menu.show .custom-dropdown-toggle,
.custom-dropdown-toggle:active,
.custom-dropdown-toggle:focus-visible,
.custom-dropdown-toggle:active:focus {
    background-color: #FFFFFF !important;
    color: #909095 !important;
    box-shadow: none !important;
}

.custom-dropdown-menu .dropdown-item:focus,
.custom-dropdown-menu .dropdown-item:hover {
    background-color: #FFFFFF !important;
    color: #909095 !important;
}
