.signup_container {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: #f5f5f5;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.signup_form_container {
    width: 100%;
    height: 100%;
    display: flex;
}

.form_container {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #f5f5f5;
}

.form_container h1 {
    justify-content: flex-start;
    font-size: 20px;
    margin-top: 0;
}

.input {
    outline: none;
    border: none;
    width: 80vw;
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 5px 0;
    vertical-align: center;
    font-size: 14px;
    text-align: left;
}
.inputBtn {
    outline: none;
    border: none;
    width: 88vw;
    color: #5B5B5B;
    padding: 15px;
    border-radius: 8px;
    background-color: #f1f1f1;
    margin: 5px 0;
    vertical-align: center;
    font-size: 14px;
    text-align: left;
}
.input-top {
    text-align: left;
    resize: none;
    height: 300px;
}
textarea,
textarea::placeholder{
    font-family: Arial, sans-serif;
}
.error_msg {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 80vw;
    padding: 5px;
    margin: 0;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0);
    color: #f34646;
    border-radius: 5px;
    text-align: center;
}

.white_btn,
.submit_btn {
    border: none;
    outline: none;
    align-items: center;
    align-self: center;
    padding: 12px 0;
    background-color: #06B5AE;
    color: #FFFFFF;
    border-radius: 8px;
    width: 180px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.green_btn {
    background-color: #000000;
    color: white;
    margin: 10px;
}
