.err-scroll::-webkit-scrollbar {
    width: 4px;
}

.err-scroll::-webkit-scrollbar-thumb {
    background-color: #909095;
    border-radius: 10px;
}

.err-scroll::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.link-btn{
    cursor: pointer;
    background-color: #06B5AE;
    border: 2px solid #06B5AE;
    color: #F4F4F4;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
}
.radio-err-msg{
    margin: 0px;
    display:flex;
    flex-direction: row;
}
.radio-err-btn-data{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content:space-between;
    align-items:flex-end;
    margin-top:10px;
}
.data-text{
    margin: 0px;
    color:#666;
    font-size:11px;
}
@media screen and (max-width: 420px) {
    .radio-err-msg{
        flex-direction: column;
    }
}
@media screen and (max-width: 380px) {
    .radio-err-btn-data{
        display:flex;
        flex-direction:column;
        width:100%;
        justify-content:space-between;
        align-items:flex-end;
        margin-top:10px;
    }
    .link-btn{
        width: 100%;
        text-align: center;
    }
    .data-text{
        text-align: right;
        margin-top: 6px;
    }
}
