.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    backdrop-filter: blur(5px); /* Размытие фона */
    z-index: 1000; /* Убедитесь, что этот элемент находится выше вашей модальной формы */
    pointer-events: none; /* Позволяет кликать сквозь этот элемент */
}