.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 0;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.pagination-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.pagination-button.active {
    color: #fff;
    background-color: #000000;
}

.pagination-button:disabled {
    opacity: 0.5;
}

.pagination-button:disabled img {
    opacity: 0.5;
}

.pagination-button-img{
    width: 9px;
    margin-bottom: 2px;
}


