.bestSpecialists {
    z-index: 1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:5px 0 0 0;

}
.radioBlock{
    width: 700px;
    background-color: #fff;
    border-radius: 8px;
    margin: 15px 0 0 0;
    padding-left: 10px;
    box-shadow: 0px 0px 18px rgba(133, 133, 133, 0.2);
}
.selectedRadio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-icon {
    margin-left: 12px;
    border: 4px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    border-top: 4px solid #ffffff;
    width: 36px;
    height: 36px;
    animation: spin 1s linear infinite;
}
@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.largeRadioBlockAdmin {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    margin: 15px 0 0 0;
    padding: 15px;
}
.oneBestSpecialistsBlock {
    max-width: 160px;
    width: 100%;
    height: 192px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0px 0px 18px rgba(133, 133, 133, 0.2);
}
.inputTop {
    text-align: left;
    resize: none;
    height: 300px;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 5px 0;
    vertical-align: center;
    font-size: 14px;
}
.input {
    outline: none;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 5px 0;
    font-size: 14px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.05);
    -webkit-tap-highlight-color: transparent;
}

.input-top {
    text-align: left;
    resize: none;
    height: 300px;
}
.inputTop:focus {
    outline: none;
    border: none;
}

.signup_container {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: #f5f5f5;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.signup_form_container {
    width: 100%;
    height: 100%;
    display: flex;
}

.form_container {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #f5f5f5;
}

.form_container h1 {
    justify-content: flex-start;
    font-size: 20px;
    margin-top: 0;
}

.input {
    outline: none;
    border: none;
    width: 80vw;
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 5px 0;
    vertical-align: center;
    font-size: 14px;
    text-align: left;
}
.inputBtn {
    outline: none;
    border: none;
    width: 88vw;
    color: #5B5B5B;
    padding: 15px;
    border-radius: 8px;
    background-color: #f1f1f1;
    margin: 5px 0;
    vertical-align: center;
    font-size: 14px;
    text-align: left;
}
.inputTop {
    text-align: left;
    resize: none;
    min-height: 100px;
    border: none;
    width: 80vw;
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 5px 0;
    vertical-align: center;
    font-size: 14px;
}
textarea,
textarea::placeholder{
    font-family: Arial, sans-serif;
}
.error_msg {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 80vw;
    padding: 5px;
    margin: 0;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0);
    color: #f34646;
    border-radius: 5px;
    text-align: center;
}

.white_btn,
.submit_btn {
    border: none;
    outline: none;
    align-items: center;
    align-self: center;
    padding: 12px 0;
    background-color: #06B5AE;
    color: #FFFFFF;
    border-radius: 8px;
    width: 180px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.green_btn {
    background-color: #000000;
    color: white;
    margin: 10px;
}

.audio-player {
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#audio {
    display: none;
}

.audio-play-btn {
    border: none;
    border-radius: 50%;
    background-color: #06B5AE;
    padding: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.audio-icon {
    margin-left: 4px;
    width: 24px;
    height: 24px;
}

.vertical-slider {
    -webkit-appearance: none;
    width: 92px;
    margin: 0 0 0 auto;
    cursor: pointer;
    background: rgb(234, 234, 234);
    border-radius: 5px;
    background-image: linear-gradient(#06B5AE, #06B5AE);
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

.vertical-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #007A76;
    margin-top: -5px;
}
@keyframes gradientAnimation {
    0% {
        background-position: 80% 50%;
    }
    100% {
        background-position: -110% 50%;
    }
}
@keyframes marquee {
    0% {
        transform: translateX(110%);
    }
    100% {
        transform: translateX(-150%);
    }
}

.vertical-slider::-webkit-slider-runnable-track {
    height: 6px;
    border: none;
    border-radius: 10px;
}
.radioInfoBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.btnsBlock{
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btnContainer {
    background-color: #fff;
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 18px rgba(133, 133, 133, 0.2);
    display: flex;
    padding: 15px 0;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}

.imgContainer {
    width: 30px;
    height: 30px;
}

.textContainer {
    margin: 0;
    font-size: 12px;
    text-align: center;
}

.copiedMessage {
    background-color: #fff;
    width: 100px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px 10px;
    box-shadow: 0px 0px 18px rgba(133, 133, 133, 0.2);
    font-size: 12px;
    text-align: center;
    position: absolute;
    z-index: 0;
    animation: slideIn 0.3s forwards;
}
.selectedRadioInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}
.musicName{
    width: 200px;
    overflow: hidden;
}
.audio-player-block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px 10px;
}
.bitrate{
    margin: 23px 0 0;
    font-size: 14px;
}
.audio-info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 40px;
}
.rate-btns-block{

}
.admin-additional-button {
    width: calc(50% - 8px);
}
.allRadios{
    margin-left: -10px;
    width: calc(100% + 20px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.radioInfo{
    width: 150px;
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 8px;
}
.sound-radio{
    display: flex;
    flex-direction: row;
    transform: rotate(270deg);
    align-items: center;
}
.music-title{
    margin-left: 15px;
}
.main-admin-button {
    width: calc(50% - 8px);
    cursor: pointer;
    background-color: #06B5AE;
    border: 2px solid #06B5AE;
    color: #F4F4F4;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 10px;
}
.rate-star{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    align-items: center;
}
.sl-radio-info{
    margin-left: 20px;
}

@media screen and (max-width: 1060px) {
    .bestSpecialists {
        padding: 0 10px;

    }
    .allRadios{
        justify-content: center;
    }
    .selectedRadio{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }
    .btnsBlock{
        width: 340px;
        margin-left: 0;
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .radioBlock{
        width: 100%;
        background-color: #fff;
        border-radius: 8px;
        margin: 15px 0 0 0;
        padding-left: 10px;
        box-shadow: 0px 0px 18px rgba(133, 133, 133, 0.2);
    }
    .musicName{
        width: 180px;
        overflow: hidden;
    }
    .music-title{
        margin-left: 40px;
    }
}

@media screen and (max-width: 992px) {
    .admin-additional-button {
        width: 100%;
        margin-right: 8px;
    }
    .main-admin-button {
        margin-left: 8px;
        width: 100%;
    }
}
@media screen and (max-width: 742px) {
    .selectedRadio{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
    }
    .btnsBlock{
        margin-left: 0;
        margin-top: 15px;
        width: 100px;
        height: 325px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
    .radioBlock{
        width: 100%;
        background-color: #fff;
        border-radius: 8px;
        margin: 15px 0 0 0;
        padding-left: 10px;
        box-shadow: 0px 0px 18px rgba(133, 133, 133, 0.2);
    }
    .selectedRadioInfo{
        width: calc(100% - 15px);
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0px 0px 18px rgba(133, 133, 133, 0.2);
        margin-right: 0;
        margin-top: 10px;
    }
    .musicName{
        width: 180px;
        overflow: hidden;
    }
    .audio-player {
        padding: 0;
        height: 120px;
        width: 100%;
        justify-content: space-between;
    }
    .audio-player-block{
        width: calc(100% - 15px);
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 8px;
        padding: 5px 15px;
        box-shadow: 0px 0px 18px rgba(133, 133, 133, 0.2);
        margin: 15px 0 0 0;
    }
    .vertical-slider {
        -webkit-appearance: none;
        width: 75px;
    }
    .bitrate{
        margin: 15px 0 0;
        font-size: 14px;
    }
    .audio-info {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 5px;
    }
    .radioInfoBlock{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .radioBlock{
        width: 100%;
        background-color: transparent;
        border-radius: 8px;
        margin: 5px 0 0 0;
        box-shadow: 0px 0px 0px;
        padding-left: 0;
    }
    .rate-btns-block{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .main-admin-button {
        width: 100%;
    }
    .admin-additional-button {
        width: 100%;
        margin-right: 0;
    }
    .main-admin-button {
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .bestSpecialists {
        padding: 0 10px;

    }
    .allRadios{
        justify-content: center;
    }
    .selectedRadio{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
    }
    .btnsBlock{
        margin-left: 0;
        margin-top: 15px;
        width: 100px;
        height: 325px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
    .radioBlock{
        width: 100%;
        background-color: #fff;
        border-radius: 8px;
        margin: 15px 0 0 0;
        padding-left: 10px;
        box-shadow: 0px 0px 18px rgba(133, 133, 133, 0.2);
    }
    .selectedRadioInfo{
        width: calc(100% - 15px);
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0px 0px 18px rgba(133, 133, 133, 0.2);
        margin-right: 0;
        margin-top: 10px;
    }
    .musicName{
        width: 180px;
        overflow: hidden;
    }
    .audio-player {
        padding: 0;
        height: 120px;
        width: 100%;
        justify-content: space-between;
    }
    .audio-player-block{
        width: calc(100% - 15px);
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 8px;
        padding: 5px 15px;
        box-shadow: 0px 0px 18px rgba(133, 133, 133, 0.2);
        margin: 15px 0 0 0;
    }
    .vertical-slider {
        -webkit-appearance: none;
        width: 75px;
    }
    .bitrate{
        margin: 15px 0 0;
        font-size: 14px;
    }
    .audio-info {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 5px;
    }
    .radioInfoBlock{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .radioBlock{
        width: 100%;
        background-color: transparent;
        border-radius: 8px;
        margin: 5px 0 0 0;
        box-shadow: 0px 0px 0px;
        padding-left: 0;
    }
}
@media screen and (max-width: 510px) {
    .selectedRadio{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .radioInfoBlock{
        display: flex;
        flex-direction: column;
    }
    .radioBlock{
        width: 100%;
        background-color: transparent;
        border-radius: 8px;
        margin: 5px 0 0 0;
        box-shadow: 0px 0px 0px;
        padding-left: 0;
    }
    .btnsBlock{
        margin-left: 0px;
        flex-direction: row;
        height: 100px;
        width: 100%;
    }
    .bestSpecialists {
        padding: 0 10px;

    }
    .selectedRadioInfo{
        width: calc(100%);
        background-color: #fff;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0px 0px 18px rgba(133, 133, 133, 0.2);
        margin-right: 0;
        margin-top: 10px;
    }
    .musicName{
        width: 180px;
        overflow: hidden;
    }
    .audio-player {
        padding: 0;
        height: 120px;
        width: 100%;
        justify-content: space-between;
    }
    .audio-player-block{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 8px;
        padding: 5px 15px;
        box-shadow: 0px 0px 18px rgba(133, 133, 133, 0.2);
    }
    .vertical-slider {
        -webkit-appearance: none;
        width: 75px;
    }
    .bitrate{
        margin: 15px 0 0;
        font-size: 14px;
    }
    .audio-info {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 5px;
    }
    .rate-btns-block{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .admin-additional-button {
        width: 100%;
    }
    .main-admin-button {
        width: 100%;
    }

}
@media screen and (max-width: 360px) {
    .selectedRadio{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .radioInfoBlock{
        display: flex;
        flex-direction: column;
    }
    .radioBlock{
        width: 100%;
        background-color: transparent;
        border-radius: 8px;
        margin: 5px 0 0 0;
        box-shadow: 0px 0px 0px;
        padding-left: 0;
    }
    .btnsBlock{
        margin-left: 0px;
        flex-direction: row;
        width: 100%;
    }
    .bestSpecialists {
        padding: 0 10px;

    }
    .selectedRadioInfo{
        width: calc(100%);
        background-color: #fff;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0px 0px 18px rgba(133, 133, 133, 0.2);
        margin-right: 0;
        margin-top: 10px;
    }
    .musicName{
        width: 170px;
        overflow: hidden;
    }
    .music-title{
        margin-left: 30px;
    }
    .audio-player {
        padding: 0;
        height: 120px;
        width: 100%;
        justify-content: space-between;
    }
    .audio-player-block{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 8px;
        padding: 5px 15px;
        box-shadow: 0px 0px 18px rgba(133, 133, 133, 0.2);
    }
    .vertical-slider {
        -webkit-appearance: none;
        width: 75px;
    }
    .bitrate{
        margin: 15px 0 0;
        font-size: 14px;
    }
    .audio-info {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 5px;
    }
    .rate-btns-block{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .admin-additional-button {
        width: 100%;
    }
    .main-admin-button {
        width: 100%;
    }

}
@media screen and (max-width: 345px) {
    .radioInfo{
        width: 100px;
        background-color: #ffffff;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        border-radius: 8px;
    }
    .sound-radio{
        display: none;
    }
    .musicName{
        width: 120px;
        overflow: hidden;
    }
    .music-title{
        margin-left: 40px;
    }

}
@media screen and (max-width: 345px) {
    .radioInfo{
        width: 100px;
        background-color: #ffffff;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        border-radius: 8px;
    }
    .sound-radio{
        display: none;
    }
    .musicName{
        width: 120px;
        overflow: hidden;
    }
    .music-title{
        margin-left: 40px;
    }

}
@media screen and (max-width: 300px) {
    .rate-star{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction:column;
        align-items: flex-start;
    }
    .selectedRadioInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;
        margin-right: 20px;
    }
    .sl-radio-info{
        margin-top: 20px;
        margin-right: 20px;
    }
    .btnsBlock{
        margin-left: 0px;
        flex-direction: row;
        height: 50px;
        width: 100%;
    }
    .btnContainer {
        background-color: #fff;
        width: 70px;
        height: 40px;
        box-shadow: 0px 0px 18px rgba(133, 133, 133, 0.2);
        display: flex;
        padding: 15px 0;
        margin-top: 5px;
        flex-direction: row;
        border-radius: 10px;
        align-items: center;
        cursor: pointer;
        justify-content: center;
    }
    .textContainer {
        display: none;
    }

}
